<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>texas-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>texas-appzhajinhua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>texas-blank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>texas-haima.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>texas-th.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>266B1061C1E04711A5818B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569DFF261B1EED01002B476D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05F8C891AB95F7D00A8A7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0B06745E5E84DE1B0A416BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D9093D1A37253E00448C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C37B15491F4B1E3E00764033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3BC6728B39541E99842A8E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F293B3C715EB7BE500256477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
