<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_level_bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>match_level_bottom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{427,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{427,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>match_level_bottom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>match_level_bottom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>match_level_bottom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>match_level_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1308},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,878},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,152},{419,426}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{419,426}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,448},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,444}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{419,444}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>match_level_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,961},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,912},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,811},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,767},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,718},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,790},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,617},{192,356}}</string>
                <key>offset</key>
                <string>{-159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,573},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,360},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,432},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,423},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,2},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1738},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
            <key>match_level_right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1741},{192,356}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{512,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>matchLevelAnimation.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee84ff7fcbcf9e530ec2aa1c5b4688e:1/1$</string>
            <key>textureFileName</key>
            <string>matchLevelAnimation.png</string>
        </dict>
    </dict>
</plist>
