<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamehall_Front-hall_0001_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,581},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>gamehall_Front-hall_0004_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,581},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>gamehall_Front-hall_0019_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1344},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>gamehall_Front_hal_000_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{729,173}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,173}}</string>
                <key>sourceSize</key>
                <string>{729,177}</string>
            </dict>
            <key>gamehall_Front_hal_000_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,613},{244,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,56}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>gamehall_Front_hal_003_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1404},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{107,85}</string>
            </dict>
            <key>gamehall_Front_hal_011_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1204},{462,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,198}}</string>
                <key>sourceSize</key>
                <string>{464,198}</string>
            </dict>
            <key>gamehall_Front_hal_012_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,671},{481,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,177}}</string>
                <key>sourceSize</key>
                <string>{481,177}</string>
            </dict>
            <key>gamehall_Front_hal_012_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{481,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,177}}</string>
                <key>sourceSize</key>
                <string>{481,177}</string>
            </dict>
            <key>gamehall_Titile_douniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1404},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,63}}</string>
                <key>sourceSize</key>
                <string>{126,65}</string>
            </dict>
            <key>gamehall_Titile_zhajinhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1404},{182,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>gamehall_Titile_zhajinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,532},{185,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{185,65}}</string>
                <key>sourceSize</key>
                <string>{187,67}</string>
            </dict>
            <key>gamehall__0000_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{528,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{528,303}}</string>
                <key>sourceSize</key>
                <string>{530,303}</string>
            </dict>
            <key>gamehall__0001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,672},{530,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,303}}</string>
                <key>sourceSize</key>
                <string>{530,303}</string>
            </dict>
            <key>gamehall__0002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{528,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{528,304}}</string>
                <key>sourceSize</key>
                <string>{530,304}</string>
            </dict>
            <key>gamehall__0003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,308},{530,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,303}}</string>
                <key>sourceSize</key>
                <string>{530,303}</string>
            </dict>
            <key>gamehall__0004_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{530,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,304}}</string>
                <key>sourceSize</key>
                <string>{530,304}</string>
            </dict>
            <key>gamehall__0005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{530,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,304}}</string>
                <key>sourceSize</key>
                <string>{530,304}</string>
            </dict>
            <key>gamehall__0005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,532},{115,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,47}}</string>
                <key>sourceSize</key>
                <string>{115,47}</string>
            </dict>
            <key>gamehall__0005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1404},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>gamehall_cj_sd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,613},{57,494}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,494}}</string>
                <key>sourceSize</key>
                <string>{59,498}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameHall.png</string>
            <key>size</key>
            <string>{1018,1523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3eb4a0c124c9467a2a42136f4a7114$</string>
            <key>textureFileName</key>
            <string>gameHall.png</string>
        </dict>
    </dict>
</plist>
