<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,425},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,59},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,59},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,284},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,143},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{141,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,284},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,143},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
            <key>switch_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{139,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{201,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>switch.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:899abdeef9cc44293eb7966f02ed1e0e$</string>
            <key>textureFileName</key>
            <string>switch.png</string>
        </dict>
    </dict>
</plist>
