<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>levelbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,954},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>levelbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,573},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>levelbg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,524},{419,428}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{419,428}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>levelbg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{419,456}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{419,456}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>levelbg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,456}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{419,456}}</string>
                <key>sourceSize</key>
                <string>{419,460}</string>
            </dict>
            <key>levelleft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1639},{253,356}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelleft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1639},{253,356}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelleft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1639},{253,356}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelleft4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1384},{253,356}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelleft5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1666},{253,356}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelleft6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{253,356}}</string>
                <key>offset</key>
                <string>{-129,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{259,356}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,0},{259,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1255},{259,356}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,0},{259,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelright3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{259,356}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,0},{259,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelright4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,994},{259,356}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,0},{259,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelright5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,263},{259,356}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,0},{259,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>levelright6.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{259,356}}</string>
                <key>offset</key>
                <string>{126,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,0},{259,356}}</string>
                <key>sourceSize</key>
                <string>{511,356}</string>
            </dict>
            <key>leveltitlebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>leveltitlebg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,423},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>leveltitlebg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{429,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,148}}</string>
                <key>sourceSize</key>
                <string>{429,148}</string>
            </dict>
            <key>levelxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1558},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,76}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>levelxingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1255},{301,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,110}}</string>
                <key>sourceSize</key>
                <string>{301,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelImg.png</string>
            <key>size</key>
            <string>{1285,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4021e378bdfbdc928b9852eca6ca44ca$</string>
            <key>textureFileName</key>
            <string>levelImg.png</string>
        </dict>
    </dict>
</plist>
