<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhadan_1.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_2.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_3.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_4.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_5.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_6.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_7.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_8.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_9.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_10.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_11.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_12.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_13.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_14.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_15.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_16.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_17.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_18.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_19.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>572</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhadan0.png</string>
			<key>realTextureFileName</key>
			<string>zhadan0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>