<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>switch_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{326,172},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{326,87},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{164,411},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{87,249},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{87,87},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
            <key>switch_9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,83}}</string>
                <key>sourceSize</key>
                <string>{160,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>switch.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5cf9f3b07cde26250c5b637c535058d$</string>
            <key>textureFileName</key>
            <string>switch.png</string>
        </dict>
    </dict>
</plist>
