<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation_got_xinfeng.png</key>
			<dict>
				<key>width</key>
				<integer>1010</integer>
				<key>height</key>
				<integer>620</integer>
				<key>originalWidth</key>
				<integer>1010</integer>
				<key>originalHeight</key>
				<integer>620</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation_got_chibang223.png</key>
			<dict>
				<key>width</key>
				<integer>949</integer>
				<key>height</key>
				<integer>581</integer>
				<key>originalWidth</key>
				<integer>949</integer>
				<key>originalHeight</key>
				<integer>581</integer>
				<key>x</key>
				<integer>1012</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation_got_chibang2 (2).png</key>
			<dict>
				<key>width</key>
				<integer>754</integer>
				<key>height</key>
				<integer>861</integer>
				<key>originalWidth</key>
				<integer>754</integer>
				<key>originalHeight</key>
				<integer>861</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation_got_chibang2 (3).png</key>
			<dict>
				<key>width</key>
				<integer>703</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>703</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation_got_chibang2.png</key>
			<dict>
				<key>width</key>
				<integer>703</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>703</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1485</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>MatchReportAnimation1.png</string>
			<key>realTextureFileName</key>
			<string>MatchReportAnimation1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>