<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dn__0000_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,816},{395,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{395,218}}</string>
                <key>sourceSize</key>
                <string>{397,218}</string>
            </dict>
            <key>dn__0001_heng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,431},{375,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,196}}</string>
                <key>sourceSize</key>
                <string>{375,196}</string>
            </dict>
            <key>dn__0002_shu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1655},{196,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,304}}</string>
                <key>sourceSize</key>
                <string>{196,304}</string>
            </dict>
            <key>dn__0003_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,431},{216,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,324}}</string>
                <key>sourceSize</key>
                <string>{218,326}</string>
            </dict>
            <key>dn__tsy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,757},{376,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,66}}</string>
                <key>sourceSize</key>
                <string>{376,66}</string>
            </dict>
            <key>dn_aniu_19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1392},{210,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,116}}</string>
                <key>sourceSize</key>
                <string>{210,116}</string>
            </dict>
            <key>dn_anniu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1655},{316,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,173}}</string>
                <key>sourceSize</key>
                <string>{316,173}</string>
            </dict>
            <key>dn_anniu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1654},{217,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,76}}</string>
                <key>sourceSize</key>
                <string>{217,76}</string>
            </dict>
            <key>dn_anniu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1386},{217,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,74}}</string>
                <key>sourceSize</key>
                <string>{217,74}</string>
            </dict>
            <key>dn_anniu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1873},{149,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,76}}</string>
                <key>sourceSize</key>
                <string>{149,76}</string>
            </dict>
            <key>dn_anniu_19-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1442},{210,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,116}}</string>
                <key>sourceSize</key>
                <string>{210,116}</string>
            </dict>
            <key>dn_anniu_19-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,976},{210,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,116}}</string>
                <key>sourceSize</key>
                <string>{210,116}</string>
            </dict>
            <key>dn_anniu_20-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,816},{282,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{282,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>dn_anniu_20-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1110},{280,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>dn_anniu_yuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{402,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,149}}</string>
                <key>sourceSize</key>
                <string>{402,149}</string>
            </dict>
            <key>dn_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1961},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>dn_buqing_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1942},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>dn_circlebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{371,427}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{371,427}}</string>
                <key>sourceSize</key>
                <string>{377,429}</string>
            </dict>
            <key>dn_dnpz_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1135},{327,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,86}}</string>
                <key>sourceSize</key>
                <string>{327,86}</string>
            </dict>
            <key>dn_hengpaibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1250},{370,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,190}}</string>
                <key>sourceSize</key>
                <string>{370,190}</string>
            </dict>
            <key>dn_hengpaibg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1036},{390,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,212}}</string>
                <key>sourceSize</key>
                <string>{390,212}</string>
            </dict>
            <key>dn_kaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1100},{284,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{284,133}}</string>
                <key>sourceSize</key>
                <string>{284,135}</string>
            </dict>
            <key>dn_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1654},{219,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{219,59}}</string>
                <key>sourceSize</key>
                <string>{219,61}</string>
            </dict>
            <key>dn_meiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1510},{166,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>dn_meiniu_tbn.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1880},{135,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,71}}</string>
                <key>sourceSize</key>
                <string>{135,71}</string>
            </dict>
            <key>dn_niuba.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1841},{165,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,99}}</string>
                <key>sourceSize</key>
                <string>{165,99}</string>
            </dict>
            <key>dn_niuer.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1618},{166,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,102}}</string>
                <key>sourceSize</key>
                <string>{166,102}</string>
            </dict>
            <key>dn_niujiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1482},{167,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,104}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>dn_niuliu.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1633},{166,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,103}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>dn_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1307},{173,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,111}}</string>
                <key>sourceSize</key>
                <string>{173,111}</string>
            </dict>
            <key>dn_niuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1722},{163,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,102}}</string>
                <key>sourceSize</key>
                <string>{163,102}</string>
            </dict>
            <key>dn_niusan.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1738},{166,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,101}}</string>
                <key>sourceSize</key>
                <string>{166,101}</string>
            </dict>
            <key>dn_niusi.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1722},{164,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,103}}</string>
                <key>sourceSize</key>
                <string>{164,103}</string>
            </dict>
            <key>dn_niuwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1464},{167,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,110}}</string>
                <key>sourceSize</key>
                <string>{167,110}</string>
            </dict>
            <key>dn_niuyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1827},{164,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,94}}</string>
                <key>sourceSize</key>
                <string>{164,94}</string>
            </dict>
            <key>dn_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,406},{504,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,74}}</string>
                <key>sourceSize</key>
                <string>{504,74}</string>
            </dict>
            <key>dn_pai_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,812}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,812}}</string>
                <key>sourceSize</key>
                <string>{579,812}</string>
            </dict>
            <key>dn_pai_xing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1651},{227,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,61}}</string>
                <key>sourceSize</key>
                <string>{227,61}</string>
            </dict>
            <key>dn_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1349},{159,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,158}}</string>
                <key>sourceSize</key>
                <string>{159,158}</string>
            </dict>
            <key>dn_quan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1188},{159,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,158}}</string>
                <key>sourceSize</key>
                <string>{159,158}</string>
            </dict>
            <key>dn_shupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,808},{190,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,300}}</string>
                <key>sourceSize</key>
                <string>{190,300}</string>
            </dict>
            <key>dn_shupai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1442},{211,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,318}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>dn_sizha.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1923},{155,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,98}}</string>
                <key>sourceSize</key>
                <string>{155,98}</string>
            </dict>
            <key>dn_tishiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{417,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{417,77}}</string>
                <key>sourceSize</key>
                <string>{419,77}</string>
            </dict>
            <key>dn_weancheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1131},{174,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,111}}</string>
                <key>sourceSize</key>
                <string>{174,111}</string>
            </dict>
            <key>dn_wuhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,912},{217,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,111}}</string>
                <key>sourceSize</key>
                <string>{217,111}</string>
            </dict>
            <key>dn_wuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,757},{217,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,112}}</string>
                <key>sourceSize</key>
                <string>{217,112}</string>
            </dict>
            <key>dn_youniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1923},{134,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,71}}</string>
                <key>sourceSize</key>
                <string>{134,71}</string>
            </dict>
            <key>dn_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1942},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>dn_zjh_tsy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{780,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{780,94}}</string>
                <key>sourceSize</key>
                <string>{788,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_douniu.png</string>
            <key>size</key>
            <string>{1116,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43afe60811c8f2b61007da345ca34858$</string>
            <key>textureFileName</key>
            <string>game_douniu.png</string>
        </dict>
    </dict>
</plist>
