<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quit__0009_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,609},{268,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,102}}</string>
                <key>sourceSize</key>
                <string>{268,104}</string>
            </dict>
            <key>quit__0011_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,609},{268,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,104}}</string>
                <key>sourceSize</key>
                <string>{268,104}</string>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{328,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,121}}</string>
                <key>sourceSize</key>
                <string>{328,121}</string>
            </dict>
            <key>quit_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{127,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{127,67}}</string>
                <key>sourceSize</key>
                <string>{131,71}</string>
            </dict>
            <key>quit_determine.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,609},{129,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,69}}</string>
                <key>sourceSize</key>
                <string>{131,71}</string>
            </dict>
            <key>quit_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{942,605}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{942,605}}</string>
                <key>sourceSize</key>
                <string>{942,605}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_quit.png</string>
            <key>size</key>
            <string>{1015,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac64167be7b7e05212766b345e823bfd$</string>
            <key>textureFileName</key>
            <string>game_quit.png</string>
        </dict>
    </dict>
</plist>
