<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_hall_difen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,769},{52,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,98}}</string>
                <key>sourceSize</key>
                <string>{52,98}</string>
            </dict>
            <key>game_hall_difen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,823},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>game_hall_difen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,858},{50,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,95}</string>
            </dict>
            <key>game_hall_difen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,858},{50,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,95}</string>
            </dict>
            <key>game_hall_difen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,828},{50,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,95}</string>
            </dict>
            <key>game_hall_difen_noRander.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,858},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>game_hall_difen_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,766},{142,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>game_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{374,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,607}}</string>
                <key>sourceSize</key>
                <string>{374,607}</string>
            </dict>
            <key>game_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{374,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,607}}</string>
                <key>sourceSize</key>
                <string>{374,607}</string>
            </dict>
            <key>game_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{374,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,607}}</string>
                <key>sourceSize</key>
                <string>{374,607}</string>
            </dict>
            <key>game_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{374,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,607}}</string>
                <key>sourceSize</key>
                <string>{374,607}</string>
            </dict>
            <key>game_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,607}}</string>
                <key>sourceSize</key>
                <string>{374,607}</string>
            </dict>
            <key>game_item_noRander.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,611},{516,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,322}}</string>
                <key>sourceSize</key>
                <string>{516,322}</string>
            </dict>
            <key>game_item_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{516,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,322}}</string>
                <key>sourceSize</key>
                <string>{516,322}</string>
            </dict>
            <key>hotTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,611},{156,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,111}}</string>
                <key>sourceSize</key>
                <string>{156,111}</string>
            </dict>
            <key>huanLe_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,778},{195,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,48}}</string>
                <key>sourceSize</key>
                <string>{195,48}</string>
            </dict>
            <key>newPlayerGame_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,841},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>noRander_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,653},{156,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,111}}</string>
                <key>sourceSize</key>
                <string>{156,111}</string>
            </dict>
            <key>num_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,828},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>num_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,828},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>num_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,828},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>num_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,828},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>num_icon_noRander.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,828},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>num_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,828},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>poker_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,856},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>poker_icon_noRander.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,856},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>poker_icon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,611},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>quick_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,653},{404,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,123}}</string>
                <key>sourceSize</key>
                <string>{406,123}</string>
            </dict>
            <key>quick_start_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,778},{228,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,61}}</string>
                <key>sourceSize</key>
                <string>{228,61}</string>
            </dict>
            <key>small_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,766},{88,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,123}}</string>
                <key>sourceSize</key>
                <string>{88,123}</string>
            </dict>
            <key>ticket_rewardTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,653},{156,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,111}}</string>
                <key>sourceSize</key>
                <string>{156,111}</string>
            </dict>
            <key>ticket_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,611},{662,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,40}}</string>
                <key>sourceSize</key>
                <string>{662,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newDDZCoinGame.png</string>
            <key>size</key>
            <string>{1882,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72150bc1d9ea0fe7bca77fc82620b495$</string>
            <key>textureFileName</key>
            <string>newDDZCoinGame.png</string>
        </dict>
    </dict>
</plist>
