<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>vip_emoji_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,186},{142,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,170}}</string>
				<key>sourceSize</key>
				<string>{142,170}</string>
			</dict>

			<key>vip_emoji_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,358},{188,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,15},{188,184}}</string>
				<key>sourceSize</key>
				<string>{255,225}</string>
			</dict>

			<key>vip_emoji_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{216,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,181}}</string>
				<key>sourceSize</key>
				<string>{216,181}</string>
			</dict>

			<key>vip_emoji_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{114,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,175}}</string>
				<key>sourceSize</key>
				<string>{114,175}</string>
			</dict>

			<key>vip_emoji_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,711},{191,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,170}}</string>
				<key>sourceSize</key>
				<string>{191,170}</string>
			</dict>

			<key>vip_emoji_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,728},{155,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,180}}</string>
				<key>sourceSize</key>
				<string>{155,180}</string>
			</dict>

			<key>vip_emoji_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{179,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,182}}</string>
				<key>sourceSize</key>
				<string>{179,182}</string>
			</dict>

			<key>vip_emoji_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,711},{190,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,195}}</string>
				<key>sourceSize</key>
				<string>{190,195}</string>
			</dict>

			<key>vip_emoji_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,543},{171,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,184}}</string>
				<key>sourceSize</key>
				<string>{171,184}</string>
			</dict>

			<key>vip_emoji_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,728},{165,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,180}}</string>
				<key>sourceSize</key>
				<string>{165,180}</string>
			</dict>

			<key>vip_emoji_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,373},{153,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,186}}</string>
				<key>sourceSize</key>
				<string>{153,186}</string>
			</dict>

			<key>vip_emoji_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,0},{163,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,185}}</string>
				<key>sourceSize</key>
				<string>{163,185}</string>
			</dict>

			<key>vip_emoji_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{218,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,0},{218,172}}</string>
				<key>sourceSize</key>
				<string>{256,184}</string>
			</dict>

			<key>vip_emoji_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,186},{155,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,186}}</string>
				<key>sourceSize</key>
				<string>{155,186}</string>
			</dict>

			<key>vip_emoji_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,188},{135,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,173}}</string>
				<key>sourceSize</key>
				<string>{135,173}</string>
			</dict>

			<key>vip_emoji_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{192,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,170}}</string>
				<key>sourceSize</key>
				<string>{192,170}</string>
			</dict>

			<key>vip_emoji_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,560},{114,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,194}}</string>
				<key>sourceSize</key>
				<string>{114,194}</string>
			</dict>

			<key>vip_emoji_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,0},{136,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,187}}</string>
				<key>sourceSize</key>
				<string>{136,187}</string>
			</dict>

			<key>vip_emoji_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,188},{128,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,181}}</string>
				<key>sourceSize</key>
				<string>{128,181}</string>
			</dict>

			<key>vip_emoji_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{218,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,184}}</string>
				<key>sourceSize</key>
				<string>{218,184}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>vip_emoji.png</string>
			</dict>
		</dict>
</plist>