<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quit_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,544},{328,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,121}}</string>
                <key>sourceSize</key>
                <string>{328,121}</string>
            </dict>
            <key>zjh_0001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{305,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,143}}</string>
                <key>sourceSize</key>
                <string>{305,143}</string>
            </dict>
            <key>zjh_0002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,732},{305,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{305,139}}</string>
                <key>sourceSize</key>
                <string>{305,143}</string>
            </dict>
            <key>zjh_0003_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1158},{301,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{301,141}}</string>
                <key>sourceSize</key>
                <string>{305,143}</string>
            </dict>
            <key>zjh_0004_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1013},{305,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,143}}</string>
                <key>sourceSize</key>
                <string>{305,143}</string>
            </dict>
            <key>zjh_0004_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,732},{277,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,146}}</string>
                <key>sourceSize</key>
                <string>{277,146}</string>
            </dict>
            <key>zjh_0005_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1053},{179,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,100}}</string>
                <key>sourceSize</key>
                <string>{179,100}</string>
            </dict>
            <key>zjh_0007_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{375,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,702}}</string>
                <key>sourceSize</key>
                <string>{375,702}</string>
            </dict>
            <key>zjh_0008_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1189},{134,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>zjh_0009_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1307},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>zjh_0010_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1340},{136,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,54}}</string>
                <key>sourceSize</key>
                <string>{136,54}</string>
            </dict>
            <key>zjh_0011_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{174,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,54}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>zjh_0012_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1250},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>zjh_0013_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,732},{258,279}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,279}}</string>
                <key>sourceSize</key>
                <string>{260,281}</string>
            </dict>
            <key>zjh_0013_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,2},{256,281}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{256,281}}</string>
                <key>sourceSize</key>
                <string>{260,281}</string>
            </dict>
            <key>zjh_0013_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,321},{258,277}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{258,277}}</string>
                <key>sourceSize</key>
                <string>{260,281}</string>
            </dict>
            <key>zjh_0014_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1163},{409,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,74}}</string>
                <key>sourceSize</key>
                <string>{409,74}</string>
            </dict>
            <key>zjh_0015_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1245},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>zjh_0016_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1308},{255,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,57}}</string>
                <key>sourceSize</key>
                <string>{255,57}</string>
            </dict>
            <key>zjh_0017_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,1262},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,69}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zjh_0017_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1313},{49,67}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{49,67}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zjh_0018_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1254},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>zjh_0019_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1254},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>zjh_0020_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1163},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>zjh_0021_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1155},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>zjh_0022_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1155},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>zjh_0023_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1154},{169,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,94}}</string>
                <key>sourceSize</key>
                <string>{169,94}</string>
            </dict>
            <key>zjh_0024_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,642},{183,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,97}}</string>
                <key>sourceSize</key>
                <string>{183,97}</string>
            </dict>
            <key>zjh_0025_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{268,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,270}}</string>
                <key>sourceSize</key>
                <string>{268,270}</string>
            </dict>
            <key>zjh_0025_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,274},{266,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,268}}</string>
                <key>sourceSize</key>
                <string>{266,268}</string>
            </dict>
            <key>zjh_0025_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,600},{125,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,118}}</string>
                <key>sourceSize</key>
                <string>{125,118}</string>
            </dict>
            <key>zjh_0025_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1071},{123,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{123,116}}</string>
                <key>sourceSize</key>
                <string>{125,118}</string>
            </dict>
            <key>zjh_0025_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,531},{125,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,118}}</string>
                <key>sourceSize</key>
                <string>{125,118}</string>
            </dict>
            <key>zjh_Chip_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1297,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1297,317}}</string>
                <key>sourceSize</key>
                <string>{1301,321}</string>
            </dict>
            <key>zjh_Chip_jia01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,852},{193,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,199}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>zjh_Chip_jia02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,870},{193,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{193,201}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>zjh_Chip_jia03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,667},{195,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,201}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>zjh_Chip_jia04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,667},{193,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{193,201}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>zjh_Chip_jia05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,651},{193,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,199}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>zjh_Chip_jia06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,870},{193,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,199}}</string>
                <key>sourceSize</key>
                <string>{197,203}</string>
            </dict>
            <key>zjh_Front_hal_000_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,827},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{244,58}}</string>
                <key>sourceSize</key>
                <string>{248,60}</string>
            </dict>
            <key>zjh_autositdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,642},{164,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,47}}</string>
                <key>sourceSize</key>
                <string>{164,49}</string>
            </dict>
            <key>zjh_change(up).png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1126},{232,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{232,51}}</string>
                <key>sourceSize</key>
                <string>{234,51}</string>
            </dict>
            <key>zjh_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1101},{234,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,51}}</string>
                <key>sourceSize</key>
                <string>{234,51}</string>
            </dict>
            <key>zjh_chips_shadow_green_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1340},{50,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>zjh_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,309},{195,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,269}}</string>
                <key>sourceSize</key>
                <string>{195,269}</string>
            </dict>
            <key>zjh_circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,260},{195,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,269}}</string>
                <key>sourceSize</key>
                <string>{195,269}</string>
            </dict>
            <key>zjh_circlebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,732},{377,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,429}}</string>
                <key>sourceSize</key>
                <string>{377,429}</string>
            </dict>
            <key>zjh_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,600},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>zjh_headIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1262},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zjh_kanpai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1179},{254,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,63}}</string>
                <key>sourceSize</key>
                <string>{254,63}</string>
            </dict>
            <key>zjh_kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1066},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,76}}</string>
                <key>sourceSize</key>
                <string>{97,78}</string>
            </dict>
            <key>zjh_lianpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{1098,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1098,313}}</string>
                <key>sourceSize</key>
                <string>{1100,313}</string>
            </dict>
            <key>zjh_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1301},{299,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,5}}</string>
                <key>sourceSize</key>
                <string>{299,5}</string>
            </dict>
            <key>zjh_pai_xing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1244},{227,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,61}}</string>
                <key>sourceSize</key>
                <string>{227,61}</string>
            </dict>
            <key>zjh_plan-call-.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,1073},{85,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,57}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>zjh_plan-call-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1308},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>zjh_pqbs__0000_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1306},{107,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,83}}</string>
                <key>sourceSize</key>
                <string>{107,83}</string>
            </dict>
            <key>zjh_pqbs__0001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1307},{106,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{106,83}</string>
            </dict>
            <key>zjh_pqbs__0002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,180},{104,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,34}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>zjh_pqbs__0003_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,2},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>zjh_pqbs__0004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1313},{347,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,67}}</string>
                <key>sourceSize</key>
                <string>{347,67}</string>
            </dict>
            <key>zjh_pqbs__0004_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,580},{209,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,60}}</string>
                <key>sourceSize</key>
                <string>{209,60}</string>
            </dict>
            <key>zjh_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1039},{234,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,60}}</string>
                <key>sourceSize</key>
                <string>{234,60}</string>
            </dict>
            <key>zjh_sitdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1301},{115,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,50}}</string>
                <key>sourceSize</key>
                <string>{117,50}</string>
            </dict>
            <key>zjh_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,827},{237,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{237,66}}</string>
                <key>sourceSize</key>
                <string>{239,68}</string>
            </dict>
            <key>zjh_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1071},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>zjh_tsy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,636},{788,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{788,94}}</string>
                <key>sourceSize</key>
                <string>{792,96}</string>
            </dict>
            <key>zjh_tsy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1239},{416,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,72}}</string>
                <key>sourceSize</key>
                <string>{416,72}</string>
            </dict>
            <key>zjh_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,1160},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>zjh_zuanshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1250},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>zjh_zuanshi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1065},{201,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,59}}</string>
                <key>sourceSize</key>
                <string>{201,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh_game.png</string>
            <key>size</key>
            <string>{2043,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b337c8d73d2dd8cefe2c94ea100c93$</string>
            <key>textureFileName</key>
            <string>zjh_game.png</string>
        </dict>
    </dict>
</plist>
