<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Front-hall_0019_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,730},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>add_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,828},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,772},{119,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,131}}</string>
                <key>sourceSize</key>
                <string>{119,131}</string>
            </dict>
            <key>battery_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,726},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>battery_progress_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,757},{46,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{46,19}</string>
            </dict>
            <key>bei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{670,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,330}}</string>
                <key>sourceSize</key>
                <string>{670,330}</string>
            </dict>
            <key>bei_bg_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{652,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,314}}</string>
                <key>sourceSize</key>
                <string>{652,314}</string>
            </dict>
            <key>bisaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{436,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,106}}</string>
                <key>sourceSize</key>
                <string>{436,106}</string>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,601},{76,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{76,98}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>btn_auto_ing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,857},{86,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,98}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,886},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,476},{333,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,108}}</string>
                <key>sourceSize</key>
                <string>{333,108}</string>
            </dict>
            <key>btn_blue_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,476},{411,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,108}}</string>
                <key>sourceSize</key>
                <string>{411,108}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,814},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>btn_gameTask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,769},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{87,90}}</string>
                <key>sourceSize</key>
                <string>{137,136}</string>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,755},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,366},{333,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,108}}</string>
                <key>sourceSize</key>
                <string>{333,108}</string>
            </dict>
            <key>btn_play_agin.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,850},{325,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,118}}</string>
                <key>sourceSize</key>
                <string>{325,118}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,401},{72,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>btn_show_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,586},{324,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,118}}</string>
                <key>sourceSize</key>
                <string>{324,118}</string>
            </dict>
            <key>btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,730},{60,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{60,96}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,107},{333,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,108}}</string>
                <key>sourceSize</key>
                <string>{333,108}</string>
            </dict>
            <key>btn_yellow_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,366},{411,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,108}}</string>
                <key>sourceSize</key>
                <string>{411,108}</string>
            </dict>
            <key>cancel_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,778},{323,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,103}}</string>
                <key>sourceSize</key>
                <string>{323,103}</string>
            </dict>
            <key>card_show_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,705},{62,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,107}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>circle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,7},{159,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,234}}</string>
                <key>sourceSize</key>
                <string>{159,234}</string>
            </dict>
            <key>circlebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,586},{377,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,138}}</string>
                <key>sourceSize</key>
                <string>{377,138}</string>
            </dict>
            <key>ddz_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,883},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,92}}</string>
                <key>sourceSize</key>
                <string>{116,92}</string>
            </dict>
            <key>ddz_focastips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,820},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>ddz_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,353},{115,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,92}}</string>
                <key>sourceSize</key>
                <string>{115,92}</string>
            </dict>
            <key>detailicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,667},{160,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,103}}</string>
                <key>sourceSize</key>
                <string>{160,103}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,74},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>doudizhu_img_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,679},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>doudizhu_img_dizhucard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,217},{326,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,147}}</string>
                <key>sourceSize</key>
                <string>{326,147}</string>
            </dict>
            <key>doudizhu_img_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,667},{79,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,42}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>doudizhu_img_superdouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,401},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>doudizhu_img_table_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,726},{358,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{358,122}}</string>
                <key>sourceSize</key>
                <string>{360,124}</string>
            </dict>
            <key>duijuxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,567},{160,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,44}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>exchange_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,861},{70,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{70,98}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>fan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,168},{202,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,70}}</string>
                <key>sourceSize</key>
                <string>{202,70}</string>
            </dict>
            <key>head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,503},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,422},{143,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,144}}</string>
                <key>sourceSize</key>
                <string>{143,144}</string>
            </dict>
            <key>head_meng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,107},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>img_bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,769},{106,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>img_bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,881},{106,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>img_bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,810},{106,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>img_gameTask_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,567},{137,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,136}}</string>
                <key>sourceSize</key>
                <string>{137,136}</string>
            </dict>
            <key>img_head_charector_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,476},{162,132}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{162,132}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>img_head_charector_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,495},{142,136}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{142,136}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>img_head_charector_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,353},{148,140}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{148,140}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>kf_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,901},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,162},{202,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,416}}</string>
                <key>sourceSize</key>
                <string>{202,416}</string>
            </dict>
            <key>lord_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,274},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>matchSuccess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,240},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
            <key>matching.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,297},{263,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,54}}</string>
                <key>sourceSize</key>
                <string>{263,54}</string>
            </dict>
            <key>name_layer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{325,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,60}}</string>
                <key>sourceSize</key>
                <string>{325,60}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,162},{187,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{187,237}}</string>
                <key>sourceSize</key>
                <string>{189,241}</string>
            </dict>
            <key>ready_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,778},{101,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,124}}</string>
                <key>sourceSize</key>
                <string>{101,124}</string>
            </dict>
            <key>scoreicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,755},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>sk_bei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,883},{291,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,70}}</string>
                <key>sourceSize</key>
                <string>{291,70}</string>
            </dict>
            <key>sk_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,706},{329,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,70}}</string>
                <key>sourceSize</key>
                <string>{329,70}</string>
            </dict>
            <key>sk_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{722,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,3}}</string>
                <key>sourceSize</key>
                <string>{722,3}</string>
            </dict>
            <key>sk_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,918},{234,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,60}}</string>
                <key>sourceSize</key>
                <string>{234,60}</string>
            </dict>
            <key>sk_rule_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,610},{209,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,55}}</string>
                <key>sourceSize</key>
                <string>{209,55}</string>
            </dict>
            <key>sk_ti_shi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,57},{480,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,48}}</string>
                <key>sourceSize</key>
                <string>{480,48}</string>
            </dict>
            <key>sk_ti_shi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,7},{480,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,48}}</string>
                <key>sourceSize</key>
                <string>{480,48}</string>
            </dict>
            <key>sk_ti_shi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,70}}</string>
                <key>sourceSize</key>
                <string>{1300,70}</string>
            </dict>
            <key>sk_tou_xiang_meng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,107},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{606,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,86}}</string>
                <key>sourceSize</key>
                <string>{606,86}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,74},{606,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,86}}</string>
                <key>sourceSize</key>
                <string>{606,86}</string>
            </dict>
            <key>txt_auto_ing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,822},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>txt_gameTask_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,810},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>txt_gameTask_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,698},{101,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,30}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>txt_given.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,905},{134,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{134,70}</string>
            </dict>
            <key>txt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,633},{136,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,63}}</string>
                <key>sourceSize</key>
                <string>{136,63}</string>
            </dict>
            <key>txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,447},{109,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,54}}</string>
                <key>sourceSize</key>
                <string>{109,54}</string>
            </dict>
            <key>wifi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,810},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,94},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,503},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>wifi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,476},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doudizhu.png</string>
            <key>size</key>
            <string>{2029,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:355b1a89fbd3a68c9166c6e6290cd3f5:1/1$</string>
            <key>textureFileName</key>
            <string>doudizhu.png</string>
        </dict>
    </dict>
</plist>
