<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,488},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,826},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>emoji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{160,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,182}}</string>
                <key>sourceSize</key>
                <string>{160,182}</string>
            </dict>
            <key>emoji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,488},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,650},{163,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,183}}</string>
                <key>sourceSize</key>
                <string>{171,183}</string>
            </dict>
            <key>emoji14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,212}}</string>
                <key>sourceSize</key>
                <string>{160,212}</string>
            </dict>
            <key>emoji16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,164},{160,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,195}}</string>
                <key>sourceSize</key>
                <string>{160,195}</string>
            </dict>
            <key>emoji17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{162,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{162,192}</string>
            </dict>
            <key>emoji18.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,326},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>emoji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,164},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji20.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,326},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>emoji21.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,164},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji22.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,335},{160,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,171}}</string>
                <key>sourceSize</key>
                <string>{160,171}</string>
            </dict>
            <key>emoji23.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,660},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>emoji24.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,826},{168,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,219}}</string>
                <key>sourceSize</key>
                <string>{168,219}</string>
            </dict>
            <key>emoji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{164,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,169}}</string>
                <key>sourceSize</key>
                <string>{164,169}</string>
            </dict>
            <key>emoji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,497},{161,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,182}}</string>
                <key>sourceSize</key>
                <string>{161,182}</string>
            </dict>
            <key>emoji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>emoji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,660},{163,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{163,179}</string>
            </dict>
            <key>emoji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,815},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{171,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{746,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec2c8f6cdad3b6e00cb49e9e6486a52b$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
